td.svelte-1b3f6ge.svelte-1b3f6ge {
  border: 0 1px 1px 1px solid #ccc;
}
.no-border.svelte-1b3f6ge.svelte-1b3f6ge {
  border-bottom: 0;
}
.is-one-third.svelte-1b3f6ge.svelte-1b3f6ge {
  width: 33%;
}
.is-half.svelte-1b3f6ge.svelte-1b3f6ge {
  width: 50%;
}
.type-selector.svelte-1b3f6ge.svelte-1b3f6ge {
  width: 100%;
  display: flex;
}
.type-selector.svelte-1b3f6ge div.svelte-1b3f6ge {
  flex-grow: 1;
}
