@import 'https://unpkg.com/leaflet@1.7.1/dist/leaflet.css';
main.svelte-xl5gpj .map.svelte-xl5gpj {
  height: 200px;
  width: 350px;
  margin-bottom: 10px;
}
a.svelte-tbi6ah {
  margin-left: 10px;
  font-size: 0.85rem;
}
td.subproperty.svelte-12reg0z {
  width: 33%;
}
td.svelte-12reg0z {
  border: 0;
}
.reference-table.svelte-4k59kk {
  background-color: #f5f5f5;
  margin-bottom: 7px;
}
td.property.svelte-4k59kk {
  width: 25%;
}
section.svelte-4k59kk {
  margin-top: 1rem;
}
.section-title.svelte-4k59kk {
  font-weight: 400;
}
